{% extends "inc/base.html" %}
{% load bootstrap5 %}

{% block content %}
    <h1 class="mt-5">Login</h1>
    <div class="login">
        <form action="{% url "login" %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div>
                <button class="btn btn-dark" type="submit" value="{{ continue }}">Login</button>
            </div>
            <div>
                <a href="{% url "signup" %}">create new account</a>
            </div>
        </form>
    </div>
{% endblock %}