{% extends "inc/base.html" %}

{% block content %}
    <div class="full-question">
        <div class="row">
            <div class="col-3">
                <div class="question-avatar">
                    <img src="../static/img/avatar6.png" alt="avatar">
                </div>
                <div class="like">
                    <p class="like-counter">{{ question.rating }}</p>
                    <button class="like-button">Like</button>
                </div>
            </div>
            <div class="col-8">
                <div style="font-size: 30px;">{{ question.title }} </div>
                <div class="question-text">{{ question.text }}</div>
                <div class="col-8">
                    Tags:
                    {% for tag in  tags %}
                        <a href="{% url "tag" tag.tag_name %}">{{ tag.tag_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h1>Answers</h1>
    {% for answer in page_obj %}
        {% include "inc/answer_item.html" %}
    {% endfor %}
    <hr>
    <div class="user-answer">
        <h3>Your Answer</h3>
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button class="btn btn-dark" style="background-color: #373d5d;"type="submit">Answer</button>
    </div>
{% endblock %}
