<div class="answer">
    <div class="row">
        <div class="col-3">
            <div class="answer-avatar">
                <img src="../static/img/avatar6.png" alt="avatar">
            </div>
            <div class="like">
                    <p class="like-counter">{{ answer.rating }}</p>
                    <button class="like-button">Like</button>
                </div>
        </div>
        <div class="col-8">
            <div class="answer-text">{{ answer.text }}</div>
            <div class="correct-checkbox">
                <input type="checkbox" name="scales" checked>
                <label>Correct!</label>
            </div>
        </div>
    </div>
</div>